<div class="container">
  新規投稿ページ
</div>
<P></p>
<%= form_with model: @post, local: true do |form| %> 
  <table>
    <tr>
      <th><%= form.label :time, "Dive NO." %></th>
      <td><%= form.text_field :time, id:"post_time" %></td>
    <tr>
    <tr>
      <th><%= form.label :place, "場所" %></th>
      <td><%= form.text_field :place, id:"post_place" %></td>
    <tr>
    <tr>
      <th> <%= form.label :weather, "天気" %></th>
      <td><%= form.text_field :weather, id:"post_weather" %></td>
    <tr>
    <tr>
      <th><%= form.label :temperature, "気温" %></th>
      <td> <%= form.text_field :temperature, id:"post_temperature"%></td>
    <tr>
    <tr>
      <th><%= form.label :water_temperature, "水温" %></th>
      <td><%= form.text_field :water_temperature, id:"water_temperature"%></td>
    <tr>
    <tr>
      <th><%= form.label :SPG_start, "残圧(開始時)" %></th>
      <td> <%= form.text_field :SPG_start, id:"SPG_start"%></td>
    <tr>
    <tr>
      <th><%= form.label :SPG_finish, "残圧(終了時)" %></th>
      <td><%= form.text_field :SPG_finish, id:"SPG＿finish"%></td>
    <tr>
    <tr>
      <th><%= form.label :dive_start, "エントリー" %></th>
      <td><%= form.text_field :dive_start, id:"divestart"%></td>
    <tr>
    <tr>
      <th><%= form.label :dive_finish, "エキジット" %></th>
      <td><%= form.text_field :dive_finish, id:"dive_finish"%></td>
    <tr>
    <tr>
      <th><%= form.label :depth, "水深" %></th>
      <td><%= form.text_field :depth, id:"depth"%></td>
    <tr>
    <tr>
      <th><%= form.label :wind_direction, "風向き" %></th>
      <td><%= form.text_field :wind_direction, id:"wind_direction"%></td>
    <tr>
    <tr>
      <th><%= form.label :wave, "波" %></th>
      <td><%= form.text_field :wave, id:"wave"%></td>
    <tr>
    <tr>
      <th><%= form.label :fish, "魚" %></th>
      <td><%= form.text_field :fish, id:"fish"%></td>
    <tr>
    <tr>
      <th><%= form.label :date, "日時" %></th>
      <td><%= form.text_field :date, id:"date"%></td>
    <tr>
    <tr>
      <th> <%= form.label :impression, "感想" %></th>
      <td><%= form.text_area :impression, id:"imperssion"%></td>
    <tr>
    <tr>
      <th>👉</th>
      <td>
        <%= link_to(posts_path) do %>
          <button class="button">トップページへ戻る</button> 
        <% end %>
        <input type="submit" class="button">
      </td>
    </tr>
    </table>
<% end %>